{% extends "layout.html" %}

{% block title_block %}
    Django Project HomePage
{% endblock %}

{% block navbar_block %}
    <p>This is where the navbar should be....</p>
{% endblock %}

{% block heading_block %}
    <h1>Welcome User</h1>
{% endblock %}

{% block content_block %}
    <hr>
    <h4>Hellow World !</h4>
    <p>You have reached the Home Page of Bunny's DjangoProject_v0.1 Homepage !</p>
    <br>
    <h5 class="footer">Powered by Django | Filled in by Jinja | Made by HIM 😎</h5>
{% endblock %}