{% extends "layout.html" %}

{% block title_block %}
    Chai App HomePage
{% endblock %}

{% block navbar_block %}
    <p>This is where the navbar should be....</p>
{% endblock %}

{% block heading_block %}
    <h1>
        All Types of Available Tea
    </h1>
{% endblock %}

{% block content_block %}
    <div class="grid grid-col-3 gap-4 m-4">
        {% for chai in chai_list %}
        <div class="bg-blue-500 p-5">
            <img class="rounded" src="{{chai.image.url}}" alt="">
            <span>{{chai.name}}</span>
        </div>
        {% endfor %}
    </div>
    <h5 class="footer">Powered by Django | Filled in by Jinja | Made by HIM 😎</h5>
{% endblock %}