{% extends "layout.html" %}

{% block title_block %}
    Chai App HomePage
{% endblock %}

{% block navbar_block %}
    <p>This is where the navbar should be....</p>
{% endblock %}

{% block heading_block %}
    <h1>All Types of Available Tea</h1>
{% endblock %}

{% block content_block %}
    <hr>
    <ul>
        <li>Masala Chai</li>
        <li>Butter Chai</li>
        <li>Ginger Cardomom Chai</li>
        <li>Tulsi Chai</li>
        <li>Ginger Chai</li>
        <li>Bombay Chai</li>
    </ul>
    <br>
    <h5 class="footer">Powered by Django | Filled in by Jinja | Made by HIM 😎</h5>
{% endblock %}